{% extends 'FrontBundle::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body%}


    <div class="login-page">
        <div class="form-login-div">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'login-form'}}) }}

            <div class="form-group has-feedback">
                {{ form_widget(form.username, {'attr':{'placeholder':'username'}}) }}
                <i class="glyphicon glyphicon-user form-control-feedback"></i>
            </div>

            <div class="form-group has-feedback">
                {{ form_widget(form.email, {'attr':{'placeholder':'your email'}}) }}
                <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
            </div>

            <div class="form-group has-feedback">
                {{ form_widget(form.plainPassword.first, {'attr':{'placeholder':'password'}}) }}
                <i class="glyphicon glyphicon-lock form-control-feedback"></i>
            </div>

            <div class="form-group has-feedback">
                {{ form_widget(form.plainPassword.second, {'attr':{'placeholder':'Confirm your password'}}) }}
                <i class="glyphicon glyphicon-lock form-control-feedback"></i>
            </div>

            <button type="submit" id="_submit" name="_submit" >{{ 'registration.submit'|trans }}</button>
            <p class="message">Already registred ? <a href="{{ path("fos_user_security_login") }}">Login</a></p>

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}
