{% extends 'FrontBundle::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    {% if error %}
        <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <i class="fa fa-coffee"></i>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="login-page">
        <div class="form-login-div">
            <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username"  value="{{ last_username }}" required="required" />

                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password"  required="required" />

                <button type="submit" id="_submit" name="_submit" >{{ 'security.login.submit'|trans }}</button>
                {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked"/>#}
                <label>{{ 'security.login.remember_me'|trans }}</label>

                <div class="_remember_me">
                    <input type="checkbox" name="_remember_me" class="_remember_me-checkbox" id="remember_me" checked="checked">
                    <label class="_remember_me-label" for="remember_me">
                        <span class="_remember_me-inner"></span>
                        <span class="_remember_me-switch"></span>
                    </label>
                </div>

                <p class="message">Not registered? <a href="{{ path('fos_user_registration_register') }}">Create an account</a></p>
                <p class="message">Forgot password? <a href="{{ path('fos_user_resetting_request') }}">Reset</a></p>

            </form>
        </div>
    </div>


{% endblock %}