<div class="wrapper kode-header-class-3">
    <header class="header-3">
        <div class="container">
            <div class="logo-container">
                <div class="row">
                    <div class="col-md-2">
                        <!--LOGO START-->
                        <div class="logo">
                            <a href="#"><img src="{{ asset("assets/front/images/LOGO-1.png") }}" alt=""></a>
                        </div>
                        <!--LOGO END-->
                    </div>
                    <div class="col-md-10">
                        <div class="top-strip">
                            <ul class="kode-connexion">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>Connecté en tant que {{ app.user.username }}
                                <ul>
                                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">Connexion</a>
                                <ul>
                                    <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            </ul>
                        </div>
                        <div class="kode-navigation">
                            <ul>
                                <li><a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="index-1.html">Home page 1</a></li>
                                    </ul>
                                </li>

                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="books.html">Our Books</a>
                                    <ul>
                                        <li><a href="books3-sidebar.html">Book With Sidebar</a></li>
                                        <li><a href="books-detail.html">Book Detail</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">Blog</a>
                                    <ul>
                                        <li><a href="blog-2column.html">Blog 2 Column</a></li>
                                        <li><a href="blog-full.html">Blog Full</a></li>
                                        <li><a href="blog-detail.html">Blog Detail</a></li>
                                    </ul>
                                </li>
                                <li>
                            </ul>
                        </div>
                        <div class="kode-navigation ">
                            <ul>
                                <li>
                                    <form action="" class="form">
                                        <input class="searchBar" placeholder="Search..."/>
                                    </form>
                                </li>
                            </ul>
                        </div>





                        <div id="kode-responsive-navigation" class="dl-menuwrapper">
                            <button class="dl-trigger">Open Menu</button>
                            <ul class="dl-menu">
                                <li class="menu-item kode-parent-menu"><a href="index.html">Home</a>
                                    <ul class="dl-submenu">
                                        <li><a href="index-1.html">Home page 1</a></li>
                                    </ul>
                                </li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li class="menu-item kode-parent-menu"><a href="books.html">Our Books</a>
                                    <ul class="dl-submenu">
                                        <li><a href="books3-sidebar.html">Book With Sidebar</a></li>
                                        <li><a href="books-detail.html">Book Detail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item kode-parent-menu"><a href="blog.html">Blog</a>
                                    <ul class="dl-submenu">
                                        <li><a href="blog-2column.html">Blog 2 Column</a></li>
                                        <li><a href="blog-full.html">Blog Full</a></li>
                                        <li><a href="blog-detail.html">Blog Detail</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <form action="" class="form">
                                        <input class="searchBar" placeholder="Search..."/>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
</div>