{% extends 'FrontBundle::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body%}
<div class="container">
<div class="row">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-horizontal col-md-4 col-md-offset-4'}}) }}
        <h1>Create Account</h1>
        <div class="form-group">
            <label>Username</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                {{ form_widget(form.username, {'attr':{'placeholder':'Username', 'aria-describedby':'basic-addon1', 'class':'form-control'}}) }}
            </div>
        </div>

<<<<<<< HEAD
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {# {{ form_widget(form) }} #}
    <!--BECOME A MEMBER START-->
    <section class="kode-membership">
        <div class="container">
            <!--SECTION HEADING START-->
            <div class="section-heading-1 dark-sec">
                <h2>Become a member</h2>
                <p>Submit your books idea and you can become an Author.</p>
                <div class="kode-icon"><i class="fa fa-book"></i></div>
            </div>
            <!--SECTION HEADING END-->
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="input-container">
                        <i class="fa fa-user"></i>
                        {{ form_widget(form.username) }}
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="input-container">
                        <i class="fa fa-envelope-o"></i>
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="input-container">
                        <i class="fa fa-key"></i>
                        {{ form_widget(form.plainPassword.first) }}
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="input-container">
                        <i class="fa fa-key"></i>
                        {{ form_widget(form.plainPassword.second) }}
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    {{ form_widget(form) }}
                    <input class="reg-btn" type="submit" value="{{ 'Enregister'|trans }}" />
                </div>
            </div>
        </div>
    </section>
    <!--BECOME A MEMBER END-->
    {{ form_rest(form) }}

    {{ form_end(form) }}
=======
        <div class="form-group">
            <label>Email</label>
            <div class="input-group ">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                {{ form_widget(form.email, {'attr':{'placeholder':'Email', 'aria-describedby':'basic-addon1', 'class':'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <label>Password</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                {{ form_widget(form.plainPassword.first, {'attr':{'placeholder':'Password', 'aria-describedby':'basic-addon1', 'class':'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            <label>Repeat password</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                {{ form_widget(form.plainPassword.second, {'attr':{'placeholder':'Password Confirmation', 'aria-describedby':'basic-addon1', 'class':'form-control'}}) }}
            </div>
        </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-4">
        <div class="form-group">
            <div class="input-group">
                <button type="submit" id="_submit" name="_submit" >{{ 'registration.submit'|trans }}</button>
            </div>
        </div>
        </div>
    </div>

    <p class="message">Already registred ? <a href="{{ path("fos_user_security_login") }}">Login</a></p>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
</div>
>>>>>>> 1cec76103cdf38c095b9c83382e6896f1299f88e
{% endblock %}
