{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <!--WRAPPER START-->
    <div class="wrapper kode-header-class-3">
        <!--BANNER START-->
        <div class="kode-banner">
            <ul class="bxslider">
                <li>
                    <img src="{{ asset("assets/front/images/banner-1.png") }}" alt="">
                    <div class="kode-caption-2">
                        <h5>Are you searching a book...?</h5>
                        <h2>Biggest Library</h2>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor emque laudantium, totam rem aperiam.ipsam voluptatem.</p>
                        <div class="caption-btns">
                            <a href="#">See More</a>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="{{ asset("assets/front/images/banner-2.png") }}" alt="">
                    <div class="kode-caption-2">
                        <h5>Are you searching a book...?</h5>
                        <h2>Biggest Library</h2>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor emque laudantium, totam rem aperiam.ipsam voluptatem.</p>
                        <div class="caption-btns">
                            <a href="#">See More</a>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="{{ asset("assets/front/images/banner-3.png") }}" alt="">
                    <div class="kode-caption-2">
                        <h5>Are you searching a book...?</h5>
                        <h2>Biggest Library</h2>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor emque laudantium, totam rem aperiam.ipsam voluptatem.</p>
                        <div class="caption-btns">
                            <a href="#">See More</a>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--BANNER END-->
        <!--CONTENT START-->
        <div class="kode-content">

            <!--BOOK GUIDE SECTION START-->
            <section>
                <div class="container">
                    <!--SECTION CONTENT START-->
                    <div class="section-heading-1">
                        <h2>Welcome to the library</h2>
                        <p>Welcome to the Most Popular Library Today</p>
                        <div class="kode-icon"><i class="fa fa-book"></i></div>
                    </div>
                    <!--SECTION CONTENT END-->
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="kode-service-3">
                                <i class="fa fa-gift"></i>
                                <h3><a href="#">Ebooks</a></h3>
                                <p>an electronic version of a printed book that can be read on a computer.</p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="kode-service-3">
                                <i class="fa fa-book"></i>
                                <h3><a href="#">audiobooks</a></h3>
                                <p>an audiocassette or CD recording of a reading of a book, typically a novel.</p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="kode-service-3">
                                <i class="fa fa-clone"></i>
                                <h3><a href="#">Magazine</a></h3>
                                <p>a periodical publication containing articles and illustrations information.</p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="kode-service-3">
                                <i class="fa fa-calculator"></i>
                                <h3><a href="#">Teans &amp; Kids</a></h3>
                                <p>the years of a person's age from 13 to 19 and are the kids and teens.</p>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--BOOK GUIDE SECTION END-->
            <!--TOP SELLERS SECTION START-->
            <section class="lib-categories-section">
                <div class="container">
                    <!--SECTION CONTENT START-->
                    <div class="section-heading-1 dark-sec">
                        <h2>Our Top Categories</h2>
                        <p>Here are some of the Top Categories of the Books Available.</p>
                        <div class="kode-icon"><i class="fa fa-book"></i></div>
                    </div>
                    <!--SECTION CONTENT END-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#view" role="tab" data-toggle="tab">Les plus lus</a></li>
                        <li role="presentation"><a href="#add" role="tab" data-toggle="tab">Les derniers ajoutés</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="Photography">
                            <ul class="bxslider">
                                <li>
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img src="images/book.png" alt="">
                                        </figure>
                                        <div class="kode-text">
                                            <h3>PENDRAGON</h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>PENDRAGON Dr.Machale</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Dr.Machale</p>
                                            <p class="price">$224.20</p>
                                            <a href="#" class="add-to-cart">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img src="{{ asset("assets/front/images/book2.png")}}" alt="">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Bridget Jones</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Mad About the Boy</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Helen Fielding</p>
                                            <p class="price">$77.70</p>
                                            <a href="#" class="add-to-cart">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img src="{{ asset("assets/front/images/book3.png")}}" alt="">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Burnt Siena</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Art History Mystery</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Sara Wisseman</p>
                                            <p class="price">$334.50</p>
                                            <a href="#" class="add-to-cart">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img src="{{ asset("assets/front/images/book4.png")}}" alt="">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Chrysalis</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>The Brave Girl</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>William S.</p>
                                            <p class="price">$24.75</p>
                                            <a href="#" class="add-to-cart">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                </li>
                                <li>
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book5.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">The Winning</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>The Winning Story</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Mind Set</p>
                                            <p class="price">$447.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book10.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Dead Water</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Dead Water in the Sea</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Ann Grannger</p>
                                            <p class="price">$777.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book7.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">The Fault In our Stars</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Paper Towns</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Daniel Abraham</p>
                                            <p class="price">$770.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book8.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">The Ruby Of Egypt</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>The Ruby Of Egypt</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Cat Howard</p>
                                            <p class="price">$996.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                </li>
                                <li>
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book9.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Fableheaven</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Fableheaven The Master</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Brandon Hall</p>
                                            <p class="price">$542.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Star Trek</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Star Trek Course</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>DisAvowed</p>
                                            <p class="price">$821.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book10.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">City Of Bones</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>City Of Bones Lies here</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Cassandra Clare</p>
                                            <p class="price">$362.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book2.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Annette Blair</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Annette Blair The Maker</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Vampire Dragon</p>
                                            <p class="price">$599.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                </li>
                            </ul>

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Biographies">
                            <ul class="bxslider-1">
                                <li>
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img src="{{ asset("assets/front/images/book3.png")}}" alt="">
                                        </figure>
                                        <div class="kode-text">
                                            <h3>PENDRAGON</h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>PENDRAGON Dr.Machale</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Dr.Machale</p>
                                            <p class="price">$224.20</p>
                                            <a href="#" class="add-to-cart">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img src="{{ asset("assets/front/images/book4.png")}}" alt="">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Bridget Jones</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Mad About the Boy</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Helen Fielding</p>
                                            <p class="price">$77.70</p>
                                            <a href="#" class="add-to-cart">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img src="{{ asset("assets/front/images/book7.png")}}" alt="">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Burnt Siena</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Art History Mystery</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Sara Wisseman</p>
                                            <p class="price">$334.50</p>
                                            <a href="#" class="add-to-cart">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img src="{{ asset("assets/front/images/book5.png")}}" alt="">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Chrysalis</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>The Brave Girl</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>William S.</p>
                                            <p class="price">$24.75</p>
                                            <a href="#" class="add-to-cart">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                </li>
                                <li>
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book8.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">The Winning</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>The Winning Story</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Mind Set</p>
                                            <p class="price">$447.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book9.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Dead Water</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Dead Water in the Sea</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Ann Grannger</p>
                                            <p class="price">$777.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book13.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">The Fault In our Stars</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Paper Towns</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Daniel Abraham</p>
                                            <p class="price">$770.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">The Ruby Of Egypt</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>The Ruby Of Egypt</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Cat Howard</p>
                                            <p class="price">$996.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                </li>
                                <li>
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book4.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Fableheaven</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Fableheaven The Master</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Brandon Hall</p>
                                            <p class="price">$542.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book2.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Star Trek</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Star Trek Course</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>DisAvowed</p>
                                            <p class="price">$821.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book3.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">City Of Bones</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>City Of Bones Lies here</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Cassandra Clare</p>
                                            <p class="price">$362.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book4.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Annette Blair</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Annette Blair The Maker</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Vampire Dragon</p>
                                            <p class="price">$599.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Business">
                            <ul class="bxslider-3">
                                <li>
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img src="{{ asset("assets/front/images/book4.png")}}" alt="">
                                        </figure>
                                        <div class="kode-text">
                                            <h3>PENDRAGON</h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>PENDRAGON Dr.Machale</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Dr.Machale</p>
                                            <p class="price">$224.20</p>
                                            <a href="#" class="add-to-cart">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img src="{{ asset("assets/front/images/book5.png")}}" alt="">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Bridget Jones</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Mad About the Boy</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Helen Fielding</p>
                                            <p class="price">$77.70</p>
                                            <a href="#" class="add-to-cart">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img src="{{ asset("assets/front/images/book7.png")}}" alt="">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Burnt Siena</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Art History Mystery</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Sara Wisseman</p>
                                            <p class="price">$334.50</p>
                                            <a href="#" class="add-to-cart">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img src="{{ asset("assets/front/images/book8.png")}}" alt="">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Chrysalis</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>The Brave Girl</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>William S.</p>
                                            <p class="price">$24.75</p>
                                            <a href="#" class="add-to-cart">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                </li>
                                <li>
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book6.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">The Winning</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>The Winning Story</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Mind Set</p>
                                            <p class="price">$447.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book9.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Dead Water</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Dead Water in the Sea</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Ann Grannger</p>
                                            <p class="price">$777.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">The Fault In our Stars</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Paper Towns</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Daniel Abraham</p>
                                            <p class="price">$770.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book2.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">The Ruby Of Egypt</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>The Ruby Of Egypt</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Cat Howard</p>
                                            <p class="price">$996.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                </li>
                                <li>
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book3.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Fableheaven</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Fableheaven The Master</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Brandon Hall</p>
                                            <p class="price">$542.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book4.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Star Trek</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Star Trek Course</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>DisAvowed</p>
                                            <p class="price">$821.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book5.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">City Of Bones</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>City Of Bones Lies here</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Cassandra Clare</p>
                                            <p class="price">$362.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book6.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Annette Blair</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Annette Blair The Maker</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Vampire Dragon</p>
                                            <p class="price">$599.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="Computers">
                            <ul class="bxslider-4">
                                <li>
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img src="{{ asset("assets/front/images/book5.png")}}" alt="">
                                        </figure>
                                        <div class="kode-text">
                                            <h3>PENDRAGON</h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>PENDRAGON Dr.Machale</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Dr.Machale</p>
                                            <p class="price">$224.20</p>
                                            <a href="#" class="add-to-cart">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img src="{{ asset("assets/front/images/book6.png")}}" alt="">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Bridget Jones</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Mad About the Boy</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Helen Fielding</p>
                                            <p class="price">$77.70</p>
                                            <a href="#" class="add-to-cart">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img src="{{ asset("assets/front/images/book7.png")}}" alt="">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Burnt Siena</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Art History Mystery</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Sara Wisseman</p>
                                            <p class="price">$334.50</p>
                                            <a href="#" class="add-to-cart">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img src="{{ asset("assets/front/images/book8.png")}}" alt="">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Chrysalis</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>The Brave Girl</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>William S.</p>
                                            <p class="price">$24.75</p>
                                            <a href="#" class="add-to-cart">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                </li>
                                <li>
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book9.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">The Winning</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>The Winning Story</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Mind Set</p>
                                            <p class="price">$447.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book10.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Dead Water</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Dead Water in the Sea</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Ann Grannger</p>
                                            <p class="price">$777.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book2.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">The Fault In our Stars</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Paper Towns</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Daniel Abraham</p>
                                            <p class="price">$770.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book6.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">The Ruby Of Egypt</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>The Ruby Of Egypt</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Cat Howard</p>
                                            <p class="price">$996.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                </li>
                                <li>
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book7.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Fableheaven</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Fableheaven The Master</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Brandon Hall</p>
                                            <p class="price">$542.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book10.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Star Trek</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Star Trek Course</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>DisAvowed</p>
                                            <p class="price">$821.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book2.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">City Of Bones</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>City Of Bones Lies here</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Cassandra Clare</p>
                                            <p class="price">$362.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                    <!--PRODUCT GRID START-->
                                    <div class="col-md-3 col-sm-6 best-seller-pro">
                                        <figure>
                                            <img alt="" src="{{ asset("assets/front/images/book3.png")}}">
                                        </figure>
                                        <div class="kode-text">
                                            <h3><a href="#">Annette Blair</a></h3>
                                        </div>
                                        <div class="kode-caption">
                                            <h3>Annette Blair The Maker</h3>
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                            <p>Vampire Dragon</p>
                                            <p class="price">$599.75</p>
                                            <a class="add-to-cart" href="#">Add To Cart</a>
                                        </div>
                                    </div>
                                    <!--PRODUCT GRID END-->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!--NEWSLETTERS SECTION START-->
            <section class="kode-newsletters-2">
                <div class="container">
                    <!--SECTION CONTENT START-->
                    <div class="section-heading-1">
                        <h2>Subscribe Our Newsletter</h2>
                        <p>Subscribe here with your email us and get up to date.</p>
                        <div class="kode-icon"><i class="fa fa-book"></i></div>
                    </div>
                    <!--SECTION CONTENT END-->
                    <div class="newsletters-container">
                        <div class="row">
                            <div class="col-md-9 col-sm-8">
                                <div class="input-container">
                                    <i class="fa fa-envelope-o"></i>
                                    <input type="text" placeholder="Subscribe us">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <button>Subscribe<i class="fa fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!--CONTENT END-->

    </div>
{% endblock %}
