{% extends 'FrontBundle::base.html.twig' %}

{% block body %}        `
    <!--CONTENT START-->
    <div class="kode-content padding-tb-50">
        <div class="container">

            <!--BOOK DETAIL START-->
            <div class="lib-book-detail">
                <div class="row">
                    <div class="col-md-5">
                        <div class="kode-thumb">
                            {% if book.picture is null %}
                                <img src="{{ asset("assets/front/images/cover-1.jpg") }}" alt="">
                            {% else %}
                                <img src="{{ asset( book.picture ) }}" alt="">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="kode-text">
                            <h2>{{ book.title }}</h2>
                            <div class="book-text">
                                <p>
                                    {{ book.summary }}
                                </p>
                            </div>
                            <div class="book-text">
                                <p>Category: Books.</p>
                                <p></p>
                                <p>Author: {{ book.author }}</p>
                                <p>Publisher: {{ book.editor }}</p>
                                <p>Product ID: {{ book.title }}</p>
                            </div>
                            <a href="#" class="add-to-cart">Add To Wishlist</a>
                            <a href="#" class="add-to-cart">Get a Quote</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--BOOK DETAIL END-->
            <section>
                <div class="container">
                    <div class="section-heading-1">
                        <div class="kode-icon"><i class="fa fa-book"></i></div>
                    </div>

                    {% include "@static_books/"~ book.title~".html" %}

                </div>
            </section>
        </div>
    </div>

    <footer class="footer-2">
        <div class="container">
            <div class="lib-copyrights">
                <p>Copyrights © 2017-18 GutenBook. All rights reserved</p>
                <div class="social-icon">
                    <ul>
                        <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="back-to-top">
                <a href="#home"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </footer>

    <div class="copyrights">
        <div class="container">
            <p>Copyrights © 2015-16 KodeForest. All rights reserved</p>
        </div>
    </div>
{% endblock %}