{% extends "FrontBundle::base.html.twig" %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-3 sidebar">

                <div class="widget widget-categories">
                    <h2>Themes</h2>
                    {% for theme in themes %}
                        <ul>
                            <li><a href="{{ path('search_results', {'theme': theme.id}) }}">{{ theme.name }}</a></li>
                        </ul>
                    {% endfor %}
                </div>

                <div class="widget widget-categories">
                    <h2>Categories</h2>
                    {% for category in categories %}
                        <ul>
                            <li><a href="{{ path('search_results', {'category': category.id}) }}">{{ category.name }}</a></li>
                        </ul>
                    {% endfor %}
                </div>


            </div>
            <div class="col-md-9">
                <div class="row">

                    {% for book in books %}
                            <div class="col-md-4 col-sm-6">
                                <div class="books-listing-4">
                                    <div class="kode-thumb">
                                        <a href="{{ path('read_book', {'token': book.token}) }}">
                                            <img src="{{ asset('assets/front/images/book-default-cover.jpg') }}" alt="">
                                        </a>
                                    </div>
                                    <div class="kode-text">
                                        <h3><a href="#">{{ book.title }}</a></h3>
                                        <p>{{ book.summary }}</p>
                                    </div>
                                    <div class="book-price">
                                        <div class="rating">
                                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                        </div>
                                    </div>
                                    <a href="#" class="add-to-cart">Lire le livre</a>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}