{% extends 'FrontBundle::base.html.twig' %}

{% block body %}


    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <!--WRAPPER START-->
    <div class="wrapper kode-header-class-3">
        <!--HEADER START-->
        <header class="header-3">
            <div class="container">
                <div class="logo-container">
                    <div class="row">

                        <div class="col-md-9">


                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--HEADER END-->
        <!--BANNER START-->
        <div class="kode-inner-banner">
            <div class="kode-page-heading">

            </div>
        </div>
        <!--BANNER END-->
        `
        <!--CONTENT START-->
        <div class="kode-content padding-tb-50">
            <div class="container">

                <!--BOOK DETAIL START-->
                <div class="lib-book-detail">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="kode-thumb">
                                <img src="{{ asset("assets/front/images/cover-1.jpg") }}" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="kode-text">
                                <h2>Apllication Health and Well-Beign</h2>
                                <div class="product-review">
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                    <p>4 Customer reveiws</p>
                                </div>
                                <div class="product-price">
                                    <h4></h4>
                                    <p>Author : <span class="color">Robert L. Lukdke</span></p>
                                </div>
                                <div class="book-text">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
                                </div>
                                <div class="book-text">
                                    <p>Category: Books.</p>
                                    <p></p>
                                    <p>Author: Daniel Abraham</p>
                                    <p>Publisher: Journal inc</p>
                                    <p>Product ID: 1100</p>
                                </div>
                                <a href="#" class="add-to-cart">Add To Wishlist</a>
                                <a href="#" class="add-to-cart">Get a Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--BOOK DETAIL END-->
                <section>
                    <div class="container">
                        <div class="section-heading-1">
                            <div class="kode-icon"><i class="fa fa-book"></i></div>
                        </div>
                        <div class="bb-custom-wrapper">
                            <div id="bb-bookblock" class="bb-bookblock">
                                <div class="bb-item">
                                    <div class="bb-custom-side">
                                        <h3>Chepter 1</h3>
                                        <p>Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.</p>
                                    </div>
                                    <div class="bb-custom-side">
                                        <h3>Chepter 2</h3>
                                        <p>Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.</p><p>Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.</p>
                                    </div>
                                </div>
                                <div class="bb-item">
                                    <div class="bb-custom-side">
                                        <h3>Chepter 3</h3>
                                        <p>Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.</p>
                                    </div>
                                    <div class="bb-custom-side">
                                        <h3>Chepter 4</h3>
                                        <p>Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.</p><p>Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.</p>
                                    </div>
                                </div>
                                <div class="bb-item">
                                    <div class="bb-custom-side">
                                        <h3>Chepter 5</h3>
                                        <p>Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.</p>
                                    </div>
                                    <div class="bb-custom-side">
                                        <h3>Chepter 6</h3>
                                        <p>Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.</p><p>Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.</p>
                                    </div>
                                </div>
                                <div class="bb-item">
                                    <div class="bb-custom-side">
                                        <h3>Chepter 7</h3>
                                        <p>Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.</p>
                                    </div>
                                    <div class="bb-custom-side">
                                        <h3>Chepter 8</h3>
                                        <p>Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.</p><p>Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.</p>
                                    </div>
                                </div>
                                <div class="bb-item">
                                    <div class="bb-custom-side">
                                        <h3>Chepter 9</h3>
                                        <p>Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.</p>
                                    </div>
                                    <div class="bb-custom-side">
                                        <h3>Chepter 10</h3>
                                        <p>Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.</p><p>Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie. Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.</p>
                                    </div>
                                </div>
                            </div>

                            <nav>
                                <a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left">Previous</a>
                                <a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right">Next</a>
                            </nav>
                        </div>
                    </div>
                </section>
                <!--RELATED PRODUCTS START-->
                <div class="lib-related-products">
                    <h2>Related Books</h2>
                    <div class="row">
                        <!--PRODUCT GRID START-->
                        <div class="col-md-4 col-sm-6">
                            <div class="best-seller-pro">
                                <figure>
                                    <img src="{{ asset("assets/front/images/cover-4.jpg") }}" alt="">
                                </figure>
                                <div class="kode-text">
                                    <h3><a href="#">Burnt Siena</a></h3>
                                </div>
                                <div class="kode-caption">
                                    <h3>Art History Mystery</h3>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                    <p>Sara Wisseman</p>

                                </div>
                            </div>
                        </div>
                        <!--PRODUCT GRID END-->
                        <!--PRODUCT GRID START-->
                        <div class="col-md-4 col-sm-6">
                            <div class="best-seller-pro">
                                <figure>
                                    <img src="{{ asset("assets/front/images/cover-2.jpg") }}" alt="">
                                </figure>
                                <div class="kode-text">
                                    <h3><a href="#">Chrysalis</a></h3>
                                </div>
                                <div class="kode-caption">
                                    <h3>The Brave Girl</h3>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                    <p>William S.</p>
                                </div>
                            </div>
                        </div>
                        <!--PRODUCT GRID END-->
                        <!--PRODUCT GRID START-->
                        <div class="col-md-4">
                            <div class="best-seller-pro">
                                <figure>
                                    <img alt="" src="{{ asset("assets/front/images/cover-4.jpg") }}">
                                </figure>
                                <div class="kode-text">
                                    <h3><a href="#">Dead Water</a></h3>
                                </div>
                                <div class="kode-caption">
                                    <h3>Dead Water in the Sea</h3>
                                    <div class="rating">
                                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                    <p>Ann Grannger   jzshbsjeinf</p>
                                </div>
                            </div>
                        </div>
                        <!--PRODUCT GRID END-->
                    </div>
                </div>
                <!--RELATED PRODUCTS END-->
            </div>
        </div>
    </div>
    <footer class="footer-3">
        <div class="container">
            <div class="row">
                <!--CATEGORY WIDGET START-->
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-categories">
                        <h2>Information</h2>
                        <ul>

                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <!--CATEGORY WIDGET END-->
                <!--LATEST NEWS WIDGET START-->
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-latest-news">
                        <h2>Lates News</h2>
                        <ul>
                            <li>
                                <div class="kode-thumb"><a href="#"><img src="{{ asset("assets/front/images/canva.jpg") }}" alt=""></a></div>
                                <div class="kode-text">
                                    <p>Phasellus risusa Aliowm</p>
                                    <p>14 December 2015</p>
                                </div>
                            </li>
                            <li>
                                <div class="kode-thumb"><a href="#"><img src="{{ asset("assets/front/images/canva.jpg") }}" alt=""></a></div>
                                <div class="kode-text">
                                    <p>Phasellus risusa Aliowm</p>
                                    <p>14 December 2015</p>
                                </div>
                            </li>
                            <li>
                                <div class="kode-thumb"><a href="#"><img src="{{ asset("assets/front/images/canva.jpg") }}" alt=""></a></div>
                                <div class="kode-text">
                                    <p>Phasellus risusa Aliowm</p>
                                    <p>14 December 2015</p>
                                </div>
                            </li>
                            <li>
                                <div class="kode-thumb"><a href="#"><img src="{{ asset("assets/front/images/canva.jpg") }}" alt=""></a></div>
                                <div class="kode-text">
                                    <p>Phasellus risusa Aliowm</p>
                                    <p>14 December 2015</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--LATEST NEWS WIDGET END-->
                <!--TWITTER WIDGET START-->
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-flickr">
                        <h2>Flickr Gallery </h2>
                        <ul>
                            <li>
                                <a href="#"><img src="{{ asset("assets/front/images/canva.jpg") }}" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset("assets/front/images/canva.jpg") }}" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset("assets/front/images/canva.jpg") }}" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset("assets/front/images/canva.jpg")}}" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset("assets/front/images/canva.jpg") }}" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset("assets/front/images/canva.jpg") }}" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset("assets/front/images/canva.jpg") }}" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset("assets/front/images/canva.jpg") }}" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset("assets/front/images/canva.jpg") }}" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--TWITTER WIDGET END-->

                <!--NEWSLETTER START-->
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-contact-info">
                        <h2>get in touch</h2>
                        <ul>
                            <li>
                                <i class="fa fa-paper-plane"></i>
                                <div class="kode-text">
                                    <h4>Address</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <div class="kode-text">
                                    <h4>phone Number</h4>
                                    <p>+55(62) 55258-4570</p>
                                    <p>+55(62) 55258-4570</p>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <div class="kode-text">
                                    <h4>Email Address</h4>
                                    <a href="#">Info@thelibrary.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--NEWSLETTER START END-->
            </div>
        </div>
    </footer>
    <div class="copyrights">
        <div class="container">
            <p>Copyrights © 2015-16 KodeForest. All rights reserved</p>
        </div>
    </div>
{% endblock %}